@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*================================
AQUI PERSONALIZO NAVEGACIÓN
=================================*/
.pagina{
    width: 100%;
}
nav{
    background-color: #153667;
    width: 100%;
    min-height: 100px;
border-radius: 20px 20px 0px 0px;
display: flex;
align-items: center;
}
nav img{
    width: 65px;
}
.enlaces-menu{
display: flex;
align-items: center;
gap: 30px;
position: absolute;
left: 50%;
transform: translate(-50%);
font-family: "Outfit", sans-serif;
}
.enlaces-menu a{
    color: white;
    text-decoration: none;
}
.enlaces-menu a:hover{
    color: darkgray;
}
/*=================================
AQUI PERZONALIZO BOTON
=================================*/
nav button{
    margin-left: 80%;
    background-color: #a5f357;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
}
nav button:hover{
    background-color: #b2ff47;
    transform: scale(1.05);
}
/*=================================
IFRAME
=================================*/
iframe{
    width: 100%;
    height: calc(100vh);
    border: none;
}
/*================================
AQUI PERSONALIZO INICIO
=================================*/
.portada{
    min-height: calc(100vh - 0%);
    background-image: url("../imagenes/portada.jpg");
background-size:cover ;
background-position: center;
padding: 20px;
}
.logo_portada{
    position: absolute;
    width: 150px;
  left: 80%;  
}
.texto-portada{
color: white;
font-family: "Outfit", sans-serif;
font-size: 30px;  
padding: 20px;
}
h1{  
  font-family: "Outfit", sans-serif;  
  color: white;
  font-size: 60px;
  padding: 20px;
}
h2{
    color: greenyellow;
    font-size: 80px;
    font-family: "Outfit", sans-serif;  
    padding: 20px;
}
.linea-verde1{
    color: greenyellow;

}
.descripcion{
    color: white;
    font-family: "Outfit", sans-serif;
    padding: 20px;
}
.boton-principal{
    background-color: yellowgreen;
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    border: none;
}
.boton-principal:hover{
    background-color: rgb(178, 255, 171);
    cursor: pointer;
}
.productos-destacados{
    background-color: rgb(255, 255, 255, 0.65);
    width: 60%;
    border-radius: 30px;
    padding: 20px;
}
.encabezado-productos{
    display: flex;
    justify-content: space-between;
    font-family: "Outfit", sans-serif;  
}
.linea-verde2{
    color: greenyellow;
}
.ver-todo{
    color: black;
    text-decoration: none;
}
.ver-todo:hover{
    color: white;
}
h3{
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
}
.productos-tarjetas{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.tarjeta{
    background-color: #f6f0e5;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
}
.tarjeta:hover{
    background-color: rgb(161, 160, 160);
}
.tarjeta img{
    width: 100%;   
}
/*================================
AQUI PERSONALIZO FOOTER
=================================*/
footer{
    width: 100%;
    min-height: 100px;
    background-color: #153667;
    color: white;
    font-family: "Outfit", sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
}
/*================================
AQUI PERSONALIZO SECCIÓN DE ROPA
=================================*/

.mujer,
.hombre{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
}
.producto{
    position: relative;
    height: 300px;
    background-color: #f5eee1;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.producto:hover{
    background-color: #777;

}
.producto img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.producto p:nth-of-type(1){
    color: #153667;
    font-family: "Outfit", sans-serif; 
    font-weight: bolder;
    font-size: 15px;
}
.producto p:nth-of-type(2){
    color: black;
    font-family: "Outfit", sans-serif; 
    font-weight: bolder;
}
.pr-ant{
    color: #888;
text-decoration: line-through;
font-weight: lighter;
margin-left: 10px;
font-size: 18px;

}
.desc{
color: crimson;
margin-left: 10px;
font-size: medium;
background-color: #ffd2f1;
}
.producto button img{
    width: 30px;
    height: 30px;
}
.producto button{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 30px;
    border: none;
}
   .producto button:hover{
    background-color: #777;
   } 
.seccion{
    font-size: x-large;
    font-family: "Outfit", sans-serif;
    margin-top: 30px;
    margin-left: 60px;
}
#color_prod1{
    color: rgb(73, 7, 73);
    font-size: 50px;
}
#color2_prod1{
    color: rgb(122, 17, 24);
    font-size: 50px;
}
#color3_prod1{
    color: rgb(46, 31, 82);
    font-size: 50px;
}

#color_prod2{
    color: rgb(231, 81, 231);
    font-size: 50px;
}
#color2_prod2{
    color: rgb(29, 161, 126);
    font-size: 50px;
}
#color3_prod2{
    color: rgb(40, 188, 225);
    font-size: 50px;
}

#color_prod3{
    color: rgb(60, 124, 62);
    font-size: 50px;
}
#color2_prod3{
    color: rgb(175, 110, 36);
    font-size: 50px;
}
#color3_prod3{
    color: rgb(243, 243, 49);
    font-size: 50px;
}

/*================================
AQUI PERSONALIZO SECCIÓN DE ARTICULOS
=================================*/

#Acolor_prod1{
    color: purple;
    font-size: 50px;
}
#Acolor2_prod1{
    color: rgb(192, 7, 19);
    font-size: 50px;
}
#Acolor3_prod1{
    color: rgb(155, 129, 221);
    font-size: 50px;
}

#Acolor_prod2{
    color: rgb(138, 22, 138);
    font-size: 50px;
}
#Acolor2_prod2{
    color: rgb(11, 201, 151);
    font-size: 50px;
}
#Acolor3_prod2{
    color: rgb(19, 68, 80);
    font-size: 50px;
}

#Acolor_prod3{
    color: rgb(14, 119, 18);
    font-size: 50px;
}
#Acolor2_prod3{
    color: rgb(237, 130, 9);
    font-size: 50px;
}
#Acolor3_prod3{
    color: rgb(213, 213, 16);
    font-size: 50px;
}

/*================================
AQUI PERSONALIZO SECCIÓN DE TIPS
=================================*/
.cont_tips{
    background-color: #fcfcf3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    font-family: "Outfit", sans-serif; 
    margin-bottom: 500px;
    
}
.cont_tips img{
  max-width: 100%;  
 height: auto;
  border-radius: 30px;
}
.metodo div:nth-of-type(2) img{
max-width: 200px;
}
.cont_tips section div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cont_tips section:nth-child(2) div:first-child img{
    max-width: 200px;
    margin-bottom: 50px;
}
.cont_tips section:nth-child(2) div:last-child img{
    max-width: 500px;
}
.cont_tips section{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
/*======================================
AQUI PERZONALIZO SEDES
======================================*/
.contenedor-sedes{
    width: 120%;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.mapa img{
    width: 100%;
    height: auto;
}
.sede-lima,
.sede-iquitos{
    background-color: #f0f0f0;
    margin: 0 10% 50px 10%;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 10%;
    border-radius: 20px;
}
.pucallpa{
    background-color: #f0f0f0;
    margin: 0 ;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

}
.sede-lima,
.sede-iquitos{
    display: flex;
}
.sede-lima img,
.sede-iquitos img{
    max-height: 280px;
}
.pucallpa img{
    width: 50%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 12px;margin-bottom: 20px;

}
.pucallpa h2,
.sede-lima h2,
.sede-iquitos h2{
    font-size: 24px;
}

.lista-servicios{
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0 20px 0; 
    gap: 8px; /* Controla la separación entre cada fila de servicio */
    width: 100%;
}
.contenedor-sedes button{
        border: none;

    background-color: #5dcc16;
    color: white;
    padding: 5px 18px;
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease,
                transform 0.2s ease;
}
.contenedor-sedes button:hover{
    background-color: #d3ffb9;
    transform: scale(1.05);
}
.sede-lima .info-sede, 
.sede-iquitos .info-sede{
    flex: 1;
    padding: 30px;
}
/*=======================================
AQUI PERZONALIZO CONTACTO
=======================================*/
.form-cont{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 20px;
    margin: 10px;
}
.formulario{
    width: 100%;
}
.formulario h1{
    color: #153667;
    margin: 10px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
}
.formulario label{
    font-size: 40px;
    font-family: "Outfit", sans-serif; 
}
.formulario form > input{
    padding: 15px;
}
.formulario form > textarea{
    height: 200px;
}
.formulario button{
    border: none;
    background-color: #5dcc16;
    color: white;
    padding: 5px 18px;
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top:  20px;
    transition: background-color 0.2s ease,
                transform 0.2s ease;
}
.formulario button:hover{
    background-color: #d3ffb9;
    transform: scale(1.05);
}
.informacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 98%;
    gap: 20px;
    height: 150px;
}
.corr-tel{
    text-align: center;
    border: 1px solid #123667;
    border-radius: 30px;
    padding: 20px;
}
.corr-tel img{
    width: 100px;
}
.direccion{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
.ubi-cont{
    border: 1px solid #153667;
    border-radius: 30px;
    padding: 20px;
}
.ubi-cont img{
    width: 50px; 
}
.punto-ubi{
    max-width: 30px;
}
.frase-ubi{
    max-width: 100%;
}
.mapa-sedes{
    width: 200%;
    height: 300px;
    border-radius: 30px;
}